
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-hero-pattern bg-cover bg-center;
  
}

base* {
    box-sizing: border-box;
  }

  html, body,  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Inter', sans-serif;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  h2{
    font-size: 1.5rem;
    font-weight: bold;
  }

.hover-effect {
  cursor: pointer;
  position: relative;
}

.hover-effect:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  background: white;
  mix-blend-mode: difference;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.hover-effect:hover:after {
  width: 100%;
  left: 0;
}
::-webkit-scrollbar{
  width: 4px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
background-color: oldlace;
border-radius: 10px;
}

